<div class="col-12 d-flex justify-content-center">
  <div class="col-8" id="textoInicial">
    <p>Bem vindo!!</p>
    <p>Esse site é um projeto pessoal que também serve como portfólio, eu sou Pedro Bueno e bem vindo ao meu site espero que se divirta</p>
    <p>O objetivo principal aqui é adotar e cuidar de cachorros, tanto de raça quanto vira-latas entre outros o login serve para você não perder suas informações e poder jogar em diferentes plataformas assim você sempre tem tempo para cuidar do seu doguinho</p>
      <div class="d-flex justify-content-center">
        <button class="btn btn-outline-danger" type="submit" id="btnStart" (click)="startGame()"> Começar </button>
      </div>
  </div>
</div>
